# macOS
.DS_Store

# PyCharm
.idea

# Virtualenv
venv

# Python cache
__pycache__

# Compilde python files
*.pyc

# Distribution
build
dist
*.egg-info

# Sphinx documentation
docs/_build

# Tagger and parser models
*.model
*.jar
*.mco
